/* ===== ADMIN ONLY ===== */
.admin-info {
    max-width: 900px;
    margin: 3rem auto;
    padding: 2rem;
    background: white;
    border-radius: 14px;
}

#productList {
    list-style: none;
    padding: 0;
}

#productList li {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px;
    margin-bottom: 12px;
    background: #f9f9f9;
    border-radius: 10px;
}

#productList li img {
    width: 60px;
    height: 45px;
    object-fit: cover;
    border-radius: 6px;
    flex-shrink: 0;
}
